In [19]:
# Task_I
# Store the names of a few of your friends in a list of called names. Print each person’s name by
# accessing each element in the list, one at a time.
names = ['Huzaifa', 'Ayan', 'Waqas', 'Ismail']
for i in names:
  print(i)

Huzaifa
Ayan
Waqas
Ismail

In [20]:
# Task_II
# If you could invite anyone, living or deceased, to dinner, who would you invite? Make a list that
# includes at least three people you’d like to invite to dinner. Then use your list to print a message
# to each person, inviting them to dinner.

guests = names.copy()
for guest in guests:
    print(f"Dear {guest}, you are invited to dinner.")

Dear Huzaifa, you are invited to dinner.
Dear Ayan, you are invited to dinner.
Dear Waqas, you are invited to dinner.
Dear Ismail, you are invited to dinner.

In [21]:
# Task_III
# Changing Guest List: You just heard that one of your guests can’t make dinner, so you need to
# send out a new set of invitations.

# Modify your list, replacing the name of the guest who can’t make it with the name
# of the new person you are inviting.
cannot_come = ['Ismail', 'Ahmed']

for i in cannot_come:
  if i in guests:
    guests.remove(i)
    print(f"Guest {i} removed from the list.")
  else:
    print(f"Guest {i} does not exist in the list.")

print(guests)  # Print the updated list
print(names)

Guest Ismail removed from the list.
Guest Ahmed does not exist in the list.
['Huzaifa', 'Ayan', 'Waqas']
['Huzaifa', 'Ayan', 'Waqas', 'Ismail']

In [24]:
# Task_IV
# You are tasked with managing a database of student records. Each student record is represented
# as a tuple containing the student&#39;s name, age, and grade. The database is initially empty, and you
# need to perform the following operations:
#  Create an empty list called student database to store student records.
#  Add three students to the database.
#  Find and print the total number of students in the database.
#  Display the details of the student with the highest grade print the result.
#  Remove the student with the lowest age and print the updated database.
#  Convert the list of student records into a print the result.
#  Sort the student records based on their age and print the sorted list.

std_db = []

# Add three students to the database.
std_db.append(['Huzaifa', 15, 4.00])
std_db.append(['Ayan', 20, 3.33])
std_db.append(['Shaheer', 20, 3.67])
print(std_db)

# Find and print the total number of students in the database.
print("Number of Students:", len(std_db))

# Display the details of the student with the highest grade.
mx = 0
HighGradeStd = None
for i in std_db:
    if i[2] >= mx:
        mx = i[2]
        HighGradeStd = i
print("Student with the highest grade:", HighGradeStd)

# Remove the student with the lowest age and print the updated database.
mn = float('inf')
LowAgeStd = std_db[0]
for i in std_db:
    if i[1] < mn:
        mn = i[1]
        LowAgeStd = i
std_db.remove(LowAgeStd)
print("Updated database after removing the student with the lowest age:", std_db)

# Convert the list of student records into a tuple and print the result.
std_db_tuple = tuple(std_db)
print("Database as a tuple:", std_db_tuple)

# Sort the student records based on their age and print the sorted list.
std_db.sort(key=lambda x: x[1])
print("Sorted student records based on age:", std_db)

[['Huzaifa', 15, 4.0], ['Ayan', 20, 3.33], ['Shaheer', 20, 3.67]]
Number of Students: 3
Student with the highest grade: ['Huzaifa', 15, 4.0]
Updated database after removing the student with the lowest age: [['Ayan', 20, 3.33], ['Shaheer', 20, 3.67]]
Database as a tuple: (['Ayan', 20, 3.33], ['Shaheer', 20, 3.67])
Sorted student records based on age: [['Ayan', 20, 3.33], ['Shaheer', 20, 3.67]]

In [23]:
# Task_V
# In developing a program for book inventory management, a dictionary named book_inventory is
# initialized to store book records, each represented as a dictionary containing attributes such as
# title, author, publication year, and quantity available. Three books are added to the inventory
# using unique ISBNs. The program then searches and displays details of a specific book by its
# ISBN, updates the quantity available for another book, checks if a new book is already in the
# inventory before adding it, removes a book, and finally prints the total number of unique books
# in the inventory.

book_inventory = {}

# Adding book
def Add_book(isbn, title, author, publication_year, quantity):
    if isbn not in book_inventory:
        book_inventory[isbn] = {
            'title': title,
            'author': author,
            'publication_year': publication_year,
            'quantity': quantity
        }
        print(f"Book '{title}' added to inventory.")
    else:
        print("Book with this ISBN already exists in inventory.")

Add_book("ISBN1", "Book1", "Author1", 2020, 10)
Add_book("ISBN2", "Book2", "Author2", 2019, 15)
Add_book("ISBN3", "Book3", "Author3", 2018, 20)

print()

# Searching book
def Search_book(isbn):
    if isbn in book_inventory:
        print("Book details:")
        for key, value in book_inventory[isbn].items():
            print(f"{key}: {value}")
    else:
        print("Book not found in inventory.")

Search_book('ISBN2')
Search_book("ISBN4")
print()

# Updating quantity
def Update_quantity(isbn, q):
    if isbn in book_inventory:
        book_inventory[isbn]['quantity'] += q
        print(f"Quantity for book with ISBN '{isbn}' updated by {q}.")
    else:
        print("Book not found in inventory.")

Update_quantity("ISBN2", 3)
Search_book('ISBN2')

Update_quantity("ISBN2", -18)
Search_book('ISBN2')
print()

# Removing book
def Remove_book(isbn):
    if isbn in book_inventory:
        book_inventory.pop(isbn)
        print(f"Book with ISBN '{isbn}' removed from inventory.")
    else:
        print("Book not found in inventory.")

Search_book('ISBN1')
Remove_book("ISBN1")
Search_book('ISBN1')
print()

# Total unique books
def Total_unique_books():
    print(f"Total number of unique books in inventory: {len(book_inventory)}")

Total_unique_books()

Book 'Book1' added to inventory.
Book 'Book2' added to inventory.
Book 'Book3' added to inventory.

Book details:
title: Book2
author: Author2
publication_year: 2019
quantity: 15
Book not found in inventory.

Quantity for book with ISBN 'ISBN2' updated by 3.
Book details:
title: Book2
author: Author2
publication_year: 2019
quantity: 18
Quantity for book with ISBN 'ISBN2' updated by -18.
Book details:
title: Book2
author: Author2
publication_year: 2019
quantity: 0

Book details:
title: Book1
author: Author1
publication_year: 2020
quantity: 10
Book with ISBN 'ISBN1' removed from inventory.
Book not found in inventory.

Total number of unique books in inventory: 2

In [27]:
# Task_VI
# Create a Class “Employee”, it’s a common base class for all the employees. Then initialize
# employee’s parameters like empName and salary and create functions like displayCount()
# containing the total number of employees in your knowledge base and displayEmployee()
# containing empName and their salary.

class Employee:
    total = 0

    def __init__(self, name, salary):
        self.name = name
        self.salary = salary
        Employee.total += 1

    @staticmethod
    def displayCount():
        print("Total number of employees:", Employee.total)

    def displayEmployee(self):
        print("Employee Name:", self.name)
        print("Salary:", self.salary)

emp1 = Employee("Shaheer", 200000)
emp2 = Employee("Huzaifa", 150000)

Employee.displayCount()
print()
emp1.displayEmployee()
emp2.displayEmployee()

Total number of employees: 2

Employee Name: Shaheer
Salary: 200000
Employee Name: Huzaifa
Salary: 150000

**Task VII
Write down one real life / game example for each environment type and also specify its agent
type.
e.g:
Crossword puzzle  - Goal based Agent
                  - deterministic,fully observable,sequential,discrete,static**

1. Game Example - 15 Puzzle Game:
    - Environment Type: Fully Observable,
Sequential, Discrete, Deterministic, Static
    - Agent Type: Goal-Based Agent or Heuristic Search Agent

2. Game Example - Counter-Strike: Global Offensive (CS:GO):
    - Environment Type: Partially Observable, Sequential, Discrete, Dynamic, Stochastic
    - Agent Type: Learning Agent or Model-Based Reflex Agent

3. Game Example - eSports Tournament (e.g., League of Legends World Championship):

    - Environment Type: Partially Observable, Episodic, Discrete, Dynamic, Stochastic
    - Agent Type: Learning Agent or Model-Based Reflex Agent